<div class="page" style="font-family: Open Sans Condensed, sans-serif, arial;font-size:20px;">
	<h2><strong>Способы оформления заказа в интернет-магазине «Crystalline»</strong></h2>
	<p>- на сайте через Корзину сайта <a href="/">www.crystalline.in.ua</a> круглосуточно</p>
	<p>- по телефону:</p>
	<ul style="margin:0 0 0 40px;">
		<li>(067) 536-70-07</li>
		<li>(099) 633-66-38</li>
		<li>(063) 877-36-57</li>
		<li>(067) 544-61-50</li>
		<li>в будние дни с 10.00 до 19.00, выходные с 10.00 до 18.00</li>
	</ul>
	
	<h3><strong>Как сделать заказ в интернет-магазине «Crystalline.in.ua»</strong></h3>
	<p>
		Для осуществления покупки в интернет-магазине «Crystalline» необходимо выбрать товар по каталогу 
		(перемещаясь по категориям товаров) и нажать кнопку «В корзину». Список выбранных товаров Вы можете увидеть в папке «Корзина». 
		Вы можете добавлять или удалять отдельные позиции в Вашей корзине или изменить количество экземпляров. 
		Для оформления заказа вам необходимо заполнить ваши контактные данные, город и № отделения Новой почты, 
		если в списке нет вашего города укажите его ниже в поле "Комментарий". После заполнения всех полей нажмите "Оформить заказ" в разделе "Корзина". 
		После того как Вы сделали заказ, в течении 24 часов с Вами свяжется наш менеджер 
		(по рабочим дням с 10:00 до 19:00, выходные с 10:00 до 18:00) для уточнения заказа и условий доставки заказа. 
		Заказ считается принятым только после подтверждения его нашим специалистом.
	</p>
	
	<h3><strong>Условия доставки и оплаты:</strong></h3>
	<p>
		Отправка заказов осуществляется ежедневно. При оплате до 16.00, ваш заказ отправляется вечерней отправкой в тот день, 
		в который Вы осуществили заказ. При оплате после 16.00, отправка вашего заказа осуществляется на следующий день.
	</p>
	
	<div class="row">
		
		<div class="col-2">
			<h4><strong>Способы доставки:</strong></h4>
			<ul style="list-style:circle;margin:0 0 0 40px;">
				<li>Самовывоз: Днепропетровск, ул. Ленина, 21а</li>
				<li>Доставка "Новой Почтой" по Украине и регионам</li>
				<li>Услуги Новой почтой составляют по Украине от 25 грн.</li>
			</ul>
			
			<p>
				<img style="vertical-align:middle;" width="126" height="110" alt="" src="../../img/root/all/dostavka i oplata3.jpg">
				<img style="vertical-align:middle;" width="122" height="110" alt="" src="../../img/root/all/dostavka i oplata2.jpg">
				<img style="vertical-align:middle;" width="128" height="119" alt="" src="../../img/root/all/dostavka i oplata1.jpg">
				<img style="vertical-align:middle;" width="135" height="124" alt="" src="../../img/root/all/dostavka i oplata.jpg">
			</p>
		</div>
		<div class="col-2">
			<h4><strong>Способы оплаты:</strong></h4>
			<ul style="list-style:circle;margin:0 0 0 40px;">
				<li>Наличными непосредственно в офисе<a href="/">crystalline.in.ua</a></li>
				<li>Наложенный платеж на Новой почте (при заказе на сумму свыше 2500 грн)</li>
				<li>Оплата на карточку Приватбанка</li>
				<li>Оплата для Крыма через перевод Золотая Корона, Western Union Сумма заказа от 1500 грн.</li>
				<li>Оплата для стран СНГ через перевод Золотая Корона, Western union</li>
			</ul>
			<p>
				<img width="373" height="291" alt="" src="../../img/root/all/oplata_sposobi.jpg">
			</p>
		</div>
	</div>
	
	<div class="row">
		<div class="col-2"></div>
		<div class="col-2"></div>
	</div>

	
	
	
	<h3><strong>Регионы доставки:</strong></h3>
	<ul type="disc">
		<li>Украина: Все регионы,</li>
		<li>Доставка в Крым осуществляется службой Интайм</li>
	</ul>
	
	<h4><strong>Страны СНГ</strong></h4>
	<p>Доставка осуществляется через УкрПочту. Срок доставки от 10 рабочих дней.</p>
	<ul style="margin:0 0 0 40px;list-style:circle;">
		<li>Молдова, все регионы</li>
		<li>Беларусь, все регионы</li>
		<li>Грузия, все регионы</li>
		<li>Казахстан, все регионы</li>
		<li>Россия, все регионы</li>
		<li>Армения, все регионы</li>
		<li>Таджикистан, все регионы</li>
		<li>Узбекистан, все регионы</li>
		<li>Азербайджан, все регионы</li>
		<li>Туркменистан, все регионы</li>
	</ul>
	<p style="text-align:center;">
		<img width="253" height="237" alt="" src="../../img/root/all/img_08.gif">
	</p>
	<p style="text-align:center;">Приятных покупок в нашем Интернет-магазине Crystalline.in.ua</p>
</div>